.cache
.DS_Store
*.pyc
*.bak
*~
#*
flycheck*
TAGS
/gen-cocoa/
/gen-py/
/gen-py-unmodified/
/gen_ndb/n_*
/gen_ndb/model_map.py
/gen-js/
/gen-nodejs/*.js
/gen-nodejs-unmodified/
/gen-nodejs-modified/
/gen-nodejs/*.ts
/hm-web-dist
/env
/pyenv
/pypyenv
/cockroach-data
flycheck*
npm-debug.log
*.profile
*.icloud
playground/thrift-test/gen-py/
playground/thrift-test/gen-py-unmodified/
playground/thrift-test/gen_ndb/n_*
playground/thrift-test/gen_ndb/model_map.py
playground/thrift-test/gen-js/
playground/thrift-test/gen-nodejs
playground/thrift-test/gen-nodejs-unmodified
playground/thrift-test/gen-nodejs-modified
playground/thrift-test/gen-nodejs
playground/thrift-test/env
playground/thrift-test/pypyenv
playground/cockroach-benchmark/crenv
/.mypy_cache
