<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" lang="en" content="With 100 Luncho, you can have simple lunch in every country. Useful for currency conversion on pricing pages."/>
    <meta property="og:type"          content="website" />
    <meta property="og:title" content="Luncho: Common Value Index for the inequality problem among countries" />
    <meta property="og:description" content="With 100 Luncho, you can have simple lunch in every country. Useful for currency conversion on pricing pages." />
    <meta property="og:image"         content="https://www.unic.or.jp/files/sdg_icon_wheel_2.png" />
    <meta property="og:locale" content="en" />
    <meta property="og:url" content="https://luncho-index.org" />

    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
