# requirements.txt for pypy3
#
# HIRANO Satoshi
# 2021/05/12

# packages
aiofiles
fastapi
fastapi-utils
gunicorn
uvicorn
requests
pycountry
mypy-extensions
#orjson does not support Pypy
#ujson does not support Pypy
