# requirements-local-dev.txt for local development with Python
#

# packages
aiofiles
mypy
fastapi
fastapi-utils
google-cloud-storage
gunicorn
httpx
../luncho_python
mypy-extensions
pycountry
pycountry-convert
pytest
requests
uvicorn
#orjson does not support Pypy
#ujson does not support Pypy
