# requirements.txt for Python with mypy for development.
#

# packages
aiofiles
mypy
fastapi
fastapi-utils
gunicorn
uvicorn
requests
pycountry
pycountry-convert
mypy-extensions
#orjson does not support Pypy
#ujson does not support Pypy
