# requirements.txt for Python with mypy for development.
#

# packages
aiofiles
mypy
fastapi
fastapi-utils
gunicorn
../client-libs/luncho_python
mypy-extensions
pycountry
pycountry-convert
pytest
requests
uvicorn
#orjson does not support Pypy
#ujson does not support Pypy
