# requirements.txt for pypy3
#
# HIRANO Satoshi
# 2021/05/12

# packages
aiofiles
fastapi
fastapi-utils
google-cloud-storage
gunicorn
../luncho_python
httpx
mypy-extensions
pycountry
pycountry-convert
pytest
requests
uvicorn
#orjson does not support Pypy
#ujson does not support Pypy
