# requirements.txt for pypy3
#
# HIRANO Satoshi
# 2021/05/12

# packages
aiofiles
fastapi
fastapi-utils
gunicorn
../client-libs/luncho_python
#luncho-python @ file:../client-libs/luncho-python
#luncho-python @ file:///Users/hirano/dev/luncho/client-libs/luncho-python
#luncho-python @ file://../client-libs/luncho-python
mypy-extensions
pycountry
pycountry-convert
pytest
requests
uvicorn
#orjson does not support Pypy
#ujson does not support Pypy
